* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.announce {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #FBFBFB;
  background-color: #000;
}
.head-burger {
  display: none;
}
.list-link {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.top-menu, .user-icons, .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-menu {
  padding: 20px 0;
}
.logo {
  margin: 0 0 0 11px;
}
.user-icons {
  margin: 0 50px 0 0;
}
.list-el {
  margin: 0 20px 0 0;
}
.list-el:last-child {
  margin: 0;
}
.user-icons__profile {
  margin: 0 11px 0 0;
}
.header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/bg.png) center / cover no-repeat;
  height: 810px;
}
.btn {
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 45px;
  background: #FF4A32;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}
.btn:last-child {
  margin: 0;
}
h1 {
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #000000;

  margin: 50px 0 15px;
}
.header-text {
  line-height: 19px;
  text-align: center;
  margin-bottom: 22px;
}
.brands {
  background-color: #000;
  padding: 26px 0;
}
.brands-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand img {
  width: 100%;
  height: 100%;
}
.stock__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 50px 0 15px 0;
}
.stock-text {
  max-width: 685px;
  width: 100%;
  line-height: 19px;
  text-align: center;
  margin-bottom: 20px;
}
.line {
  width: 70px;
  height: 2px;
  background: #CFCFCF;
}
.stock__img-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.preview {
  position: relative;
}
.preview img {
  width: 100%;
  height: 100%;
}
.preview-layer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview-layer__icon, .preview-layer__title {
  margin-bottom: 10px;
}
.preview-layer__title {
  font-size: 25px;
  line-height: 30px;
}
.preview-layer__text {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.perfomance {
  height: 730px;
  background: url(img/semibg.png) center / cover no-repeat; 
}
.perfomance-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-black {
  letter-spacing: 1px;
  color: #000000;
}
.semi-title {
  margin: 50px 0 10px 0;
}
.perfomance-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 51px;
  color: #000000;
  margin-bottom: 15px;
}
.perfomance-text {
  max-width: 488px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
} 
.review-body  {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.review-body img {
  width: 100%;
  height: 100%;
}
.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 340px;
  width: 100%;
}
.review-box__title {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 20px;
}
.review-box__text {
  margin-bottom: 15px;
}
.btn-short {
  padding: 5px 16px;
}
.adv-box {
  padding: 50px 0;
}.adv-box {
  display: flex;
  justify-content: center;
}
.adv-box__el {
  position: relative;
}
.adv-box__el img {
 width: 100%;
 height: 100%;
}
.adv-layer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 240px;
  width: 100%;
}.video-review-body {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
}
.video-frame {
  position: relative;
  width: 100%;
  /* padding-top: 27.25%; */
  margin-right: 20px;
}
.video-frame:last-child {
  margin: 0;
}
.video-frame img {
  width: 100%;
  height: 100%;
}
.accessories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.acc-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.bottom-line {
  margin-bottom: 50px;
}
.slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide {
  max-width: 186px;
  width: 100%;
  transition: all .2s ease
}
.active {
  transform: scale(1.2);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 25px;
  overflow: auto;
  transition: all .2s ease;
}
.slide__name a {
  font-size: 14px;
  color: #FF4A32;
}
.slide__name, .slide__price {
  text-align: center;
}
.slide__price {
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.slide__icon {
  margin-bottom: 10px;
}
.slide__name {
  margin-bottom: 5px;
}
.slider-wrapper {
  position: relative;
}
.prev {
  position: absolute;
  left: 12px;
  bottom: 35px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 11;
}
.prev, .next {
  border: 0;
  border-radius: 50%;
}
.prev img, .next img {
  transition: all .2s ease-in-out;
}
.prev img:hover, .next img:hover {
  transform: scale(1.2);
  overflow: hidden;
  transition: all .2s ease-in-out;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 50%;
}
.next {
  position: absolute;
  right: 12px;
  bottom: 35px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 11;
}
.why-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0 50px 0; 
  background-color: #000;
}
.why-us-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us-box__icon {
  margin-bottom: 5px;
}
.why-us-box__icon img {
  width: 100%;
  height: 100%;
}
.why-us-box__title {
  margin-bottom: 25px;
}
.why-us-box__text {
  max-width: 270px;
  width: 100%;
  text-align: center;
}
.footer {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  padding: 50px 130px;
}
.footer-logo img {
  width: 100%;
}
.footer-logo {
  max-width: 160px;
  width: 100%;
}
.explore, .about {
  display: flex;
  flex-direction: column;

}
.explore__title {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.explore__link {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.about__title {
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 10px;
}
.about__text {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  max-width: 370px;
  width: 100%;
  margin-bottom: 40px;
}
.about__adress {
  font-size: 13px;
  line-height: 21px;
  color: #000000;
}